In [14]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from scipy import stats
import numpy as np
import statsmodels.api as sm
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import plotly.express as px
#to test hetroscadasticity
from statsmodels.stats.diagnostic import het_breuschpagan
from statsmodels.stats.diagnostic import het_white
from statsmodels.formula.api import ols
#to check multicolinearity
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [15]:
df = pd.read_csv(r"E:\Uni\SEM 5\In17-S5-DA3110 - Data Wrangling\Project\Datasets\DW_Cleaning_1.csv")

In [16]:
df.head()

,Date,Hour,CO(GT),PT08.S1(CO),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,Year,Month,Day,Day_name,Season
0,3/10/2004,18,2.6,1360.00,11.881723,1045.50,166.0,1056.25,113.0,1692.00,1267.50,16.475,48.875001,0.757754,2004,3,10,Wednesday,SPRING
1,3/10/2004,19,2.0,1292.25,9.397165,954.75,103.0,1173.75,92.0,1558.75,972.25,14.500,47.700000,0.725487,2004,3,10,Wednesday,SPRING
2,3/10/2004,20,2.2,1402.00,8.997817,939.25,131.0,1140.00,114.0,1554.50,1074.00,12.825,53.975000,0.750239,2004,3,10,Wednesday,SPRING
3,3/10/2004,21,2.2,1375.50,9.228796,948.25,172.0,1092.00,122.0,1583.75,1203.25,11.500,60.000000,0.786713,2004,3,10,Wednesday,SPRING
4,3/10/2004,22,1.6,1272.25,6.518224,835.50,131.0,1205.00,116.0,1490.00,1110.00,9.500,59.575001,0.788794,2004,3,10,Wednesday,SPRING

In [17]:
#Normalizing the data and removing outliers
z = np.abs(stats.zscore( df[['CO(GT)','PT08.S1(CO)','C6H6(GT)','PT08.S2(NMHC)','NOx(GT)','PT08.S3(NOx)','NO2(GT)','PT08.S4(NO2)','PT08.S5(O3)','T','AH','RH']]))
df = df[(z < 3).all(axis=1)]

In [18]:
df['Day_name'] = df['Day_name'].str.replace('Monday','WD')
df['Day_name'] = df['Day_name'].str.replace('Tuesday','WD')
df['Day_name'] = df['Day_name'].str.replace('Wednesday','WD')
df['Day_name'] = df['Day_name'].str.replace('Thursday','WD')
df['Day_name'] = df['Day_name'].str.replace('Friday','WD')
df['Day_name'] = df['Day_name'].str.replace('Saturday','WE')
df['Day_name'] = df['Day_name'].str.replace('Sunday','WE')

In [19]:
df = pd.get_dummies(df, columns=['Season','Day_name'],drop_first = True)

In [20]:
df.head()

,Date,Hour,CO(GT),PT08.S1(CO),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),...,T,RH,AH,Year,Month,Day,Season_SPRING,Season_SUMMER,Season_WINTER,Day_name_WE
0,3/10/2004,18,2.6,1360.00,11.881723,1045.50,166.0,1056.25,113.0,1692.00,...,16.475,48.875001,0.757754,2004,3,10,1,0,0,0
1,3/10/2004,19,2.0,1292.25,9.397165,954.75,103.0,1173.75,92.0,1558.75,...,14.500,47.700000,0.725487,2004,3,10,1,0,0,0
2,3/10/2004,20,2.2,1402.00,8.997817,939.25,131.0,1140.00,114.0,1554.50,...,12.825,53.975000,0.750239,2004,3,10,1,0,0,0
3,3/10/2004,21,2.2,1375.50,9.228796,948.25,172.0,1092.00,122.0,1583.75,...,11.500,60.000000,0.786713,2004,3,10,1,0,0,0
4,3/10/2004,22,1.6,1272.25,6.518224,835.50,131.0,1205.00,116.0,1490.00,...,9.500,59.575001,0.788794,2004,3,10,1,0,0,0

In [56]:
data.drop(['CO(GT)'],axis=1,inplace=True)

In [57]:
data.head()

,PT08.S1(CO),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,AH,RH
0,1360.00,11.881723,1045.50,166.0,1056.25,113.0,1692.00,1267.50,16.475,0.757754,48.875001
1,1292.25,9.397165,954.75,103.0,1173.75,92.0,1558.75,972.25,14.500,0.725487,47.700000
2,1402.00,8.997817,939.25,131.0,1140.00,114.0,1554.50,1074.00,12.825,0.750239,53.975000
3,1375.50,9.228796,948.25,172.0,1092.00,122.0,1583.75,1203.25,11.500,0.786713,60.000000
4,1272.25,6.518224,835.50,131.0,1205.00,116.0,1490.00,1110.00,9.500,0.788794,59.575001

In [58]:
data.columns

Index(['PT08.S1(CO)', 'C6H6(GT)', 'PT08.S2(NMHC)', 'NOx(GT)', 'PT08.S3(NOx)',
       'NO2(GT)', 'PT08.S4(NO2)', 'PT08.S5(O3)', 'T', 'AH', 'RH'],
      dtype='object')

In [23]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
Y=df['RH']
X=df[['CO(GT)','PT08.S1(CO)', 'C6H6(GT)', 'PT08.S2(NMHC)', 'NOx(GT)','PT08.S3(NOx)', 'NO2(GT)', 'PT08.S4(NO2)', 'PT08.S5(O3)', 'T', 'AH','Season_SPRING','Season_SUMMER','Season_WINTER','Day_name_WE']]
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.3, random_state = 1)

print('Training Data Count: {}'.format(X_train.shape[0]))
print('Testing Data Count: {}'.format(X_test.shape[0]))

X_train = sm.add_constant(X_train)
results = sm.OLS(y_train, X_train).fit()
results.summary()

Training Data Count: 6209
Testing Data Count: 2662

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                     RH   R-squared:                       0.613
Model:                            OLS   Adj. R-squared:                  0.612
Method:                 Least Squares   F-statistic:                     653.5
Date:                Sun, 23 Feb 2020   Prob (F-statistic):               0.00
Time:                        05:30:09   Log-Likelihood:                -23526.
No. Observations:                6209   AIC:                         4.708e+04
Df Residuals:                    6193   BIC:                         4.719e+04
Df Model:                          15
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const            87.9210      4.168     21.096      0.000      79.751      96.091
CO(GT)           -0.2220      0.244     -0.910      0.363      -0.700       0.256
PT08.S1(CO)       0.0072      0.002      3.129      0.002       0.003       0.012
C6H6(GT)          0.1084      0.153      0.709      0.478      -0.191       0.408
PT08.S2(NMHC)    -0.1241      0.005    -25.440      0.000      -0.134      -0.115
NOx(GT)           0.0416      0.002     22.737      0.000       0.038       0.045
PT08.S3(NOx)     -0.0273      0.002    -16.647      0.000      -0.031      -0.024
NO2(GT)          -0.1009      0.006    -16.009      0.000      -0.113      -0.089
PT08.S4(NO2)      0.0564      0.002     28.853      0.000       0.053       0.060
PT08.S5(O3)       0.0190      0.001     19.505      0.000       0.017       0.021
T                -0.6381      0.027    -23.489      0.000      -0.691      -0.585
AH               -0.1187      1.009     -0.118      0.906      -2.097       1.859
Season_SPRING     1.3007      0.628      2.070      0.038       0.069       2.533
Season_SUMMER    -9.1279      0.714    -12.787      0.000     -10.527      -7.728
Season_WINTER    12.1767      0.575     21.184      0.000      11.050      13.304
Day_name_WE      -1.8445      0.318     -5.796      0.000      -2.468      -1.221
==============================================================================
Omnibus:                      150.386   Durbin-Watson:                   2.003
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              287.875
Skew:                           0.168   Prob(JB):                     3.08e-63
Kurtosis:                       4.000   Cond. No.                     7.61e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 7.61e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""