In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"C:\Users\Suwani Gunasekara\OneDrive\Documents\Sem 7 ML\Mid term\results.csv")

In [3]:
df.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False

In [4]:
newdate = df["date"].str.split("-",n=1, expand = True) 
newdate.head()
# combing year values as a new column to df
df['Year'] = newdate[0].astype(int)

In [5]:
FIFA = df.loc[(df.Year >= 2000) & ((df.tournament == 'FIFA World Cup') | (df.tournament == 'FIFA World Cup qualification'))]

In [10]:
FIFA.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,Year
22648,2000-03-04,Honduras,Nicaragua,3,0,FIFA World Cup qualification,San Pedro Sula,Honduras,False,2000
22649,2000-03-04,Trinidad and Tobago,Curaçao,5,0,FIFA World Cup qualification,Macoya,Trinidad and Tobago,False,2000
22650,2000-03-05,Anguilla,Bahamas,1,3,FIFA World Cup qualification,The Valley,Anguilla,False,2000
22651,2000-03-05,Barbados,Grenada,2,2,FIFA World Cup qualification,Bridgetown,Barbados,False,2000
22653,2000-03-05,British Virgin Islands,Bermuda,1,5,FIFA World Cup qualification,Road Town,British Virgin Islands,False,2000

In [6]:
FIFA.shape

(4569, 10)

In [11]:
FIFA['Results'] = FIFA.apply(lambda row: ('Win' if (row['home_score'] > row['away_score'])
                                         else 'Draw' if (row['home_score'] == row['away_score']) else 'Loss'), axis = 1)

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [12]:
FIFA.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,Year,Results
22648,2000-03-04,Honduras,Nicaragua,3,0,FIFA World Cup qualification,San Pedro Sula,Honduras,False,2000,Win
22649,2000-03-04,Trinidad and Tobago,Curaçao,5,0,FIFA World Cup qualification,Macoya,Trinidad and Tobago,False,2000,Win
22650,2000-03-05,Anguilla,Bahamas,1,3,FIFA World Cup qualification,The Valley,Anguilla,False,2000,Loss
22651,2000-03-05,Barbados,Grenada,2,2,FIFA World Cup qualification,Bridgetown,Barbados,False,2000,Draw
22653,2000-03-05,British Virgin Islands,Bermuda,1,5,FIFA World Cup qualification,Road Town,British Virgin Islands,False,2000,Loss

In [13]:
def get_rankings(df,home_team,visitor_team,date,years):
    """
    Given a df, home team, visitor team, date and number of years, returns the average ranking for home and visitor teams
  
    @param home_team : name of the home_team  such as 'Germany'
    @param visitor_team : name of the home_team  such as 'Japan'
    @param date : Year of the game in a integer format.
    @param years : number of years prior to each game to consider. If years is equal to 1
                   and the game takes place in 2014 then we will only consider statistics from the year 2013. 
                   If years is equal to two then we would consider statistics from the years 2012 and 2013. 
    @returns a dictionary. 
    """
    
    ranking_home_team= df.loc[(df['Team']==home_team) & (df['Date']<date) & (df['Date']>(date-(years+1))),'Rank'].mean()
    
    ranking_visitor_team=df.loc[(df['Team']==visitor_team) & (df['Date']<date) & (df['Date']>(date-(years+1))),'Rank'].mean()
    
       
    return {
        'ranking_home_team': ranking_home_team,
        'ranking_visitor_team': ranking_visitor_team}

#Some inspiration from PSET 4, in terms of structure.

In [15]:
def win_draw_percentage(df,home_team,visitor_team,date,years):
    """
    Given a home team and visitor team and date, returns win and draw statistics for 
    the home and visitor team. 
      @param home_team : name of the home_team  such as 'Germany'
    @param visitor_team : name of the home_team  such as 'Japan'
    @param date : Year of the game in a integer format.
       @param years : number of years prior to each game to consider. If years is equal to 1
                   and the game takes place in 2014 then we will only consider statistics from the year 2013. 
                   If years is equal to two then we would consider statistics from the years 2012 and 2013. 
    @returns a dictionary. 
    """
    win_percentage_home_team= \
    df.loc[(df['Team']==home_team) & (df['Date']<date) & (df['Date']>(date-(years+1))),'Win_percentage'].mean()
    
    win_percentage_visitor_team= \
    df.loc[(df['Team']==visitor_team) & (df['Date']<date) & (df['Date']>(date-(years+1))),'Win_percentage'].mean()
    
    delta_win_percentage=(win_percentage_home_team-win_percentage_visitor_team)
    
    draw_percentage_home_team= \
    df.loc[(df['Team']==home_team) & (df['Date']<date) & (df['Date']>(date-(years+1))),'Draw_percentage'].mean()
    
    draw_percentage_visitor_team= \
    df.loc[(df['Team']==visitor_team) & (df['Date']<date) & (df['Date']>(date-(years+1))),'Draw_percentage'].mean()
    
    delta_draw_percentage=draw_percentage_home_team-draw_percentage_visitor_team
    
    delta_win_draw_home_team=win_percentage_home_team-draw_percentage_home_team
    delta_win_draw_visitor_team=win_percentage_visitor_team-draw_percentage_visitor_team

       
    return {
        'win_percentage_home_team': win_percentage_home_team,
        'win_percentage_visitor_team': win_percentage_visitor_team,
        'delta_win_percentage':delta_win_percentage,
        
        'draw_percentage_home_team': draw_percentage_home_team,
        'draw_percentage_visitor_team': draw_percentage_visitor_team,
        'delta_draw_percentage': delta_draw_percentage,
        'delta_win_draw_home_team':delta_win_draw_home_team,
        'delta_win_draw_visitor_team':delta_win_draw_visitor_team
    }

#Some inspiration from PSET 4, in terms of structure.

In [ ]:
worldcup_list = []

for _,row in FIFA.iterrows():
    worldcup_dict = {}